/* 
    OBJETIVO:
    Quero que ao clicar em 'ver mais...' todo conteúdo do 'p' apareça
*/

.conteudo h2 span {
  font-size: 13px;
  cursor: pointer;
}

.conteudo p {
  overflow: hidden;
  height: 15px;
  transition: 1s;
}

.mostrar {
  height: 200px !important;
}
